 ### Загрузите файл HR.csv в pandas dataframe

In [5]:
import pandas as pd
df = pd.read_csv('HR.csv')
df

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

### Рассчитайте основные статистики для переменных
* (среднее,медиана,мода,мин/макс,сред.отклонение)

In [8]:
for name1, values2 in df[['satisfaction_level','number_project','average_montly_hours','time_spend_company']].iteritems():
  moda=df[name1].mode()
  mediana=df[name1].median()
  q1=df[name1].quantile(0.25)
  q3=df[name1].quantile(0.75)
  IQR=q3-q1
  min_max=df[name1].describe()
  lower_bound = q1 - (1.5 * IQR) 
  upper_bound = q3 + (1.5 * IQR)
  remove_outliers = df[df[name1].between(lower_bound, upper_bound, inclusive=True)]
  print(name1)
  print('Базовые статистики:',min_max)
  print('Мода:',moda)
  print('Медиана:',mediana)
  print('Размах:',IQR)

satisfaction_level
Базовые статистики: count    14999.000000
mean         0.612834
std          0.248631
min          0.090000
25%          0.440000
50%          0.640000
75%          0.820000
max          1.000000
Name: satisfaction_level, dtype: float64
Мода: 0    0.1
Name: satisfaction_level, dtype: float64
Медиана: 0.64
Размах: 0.37999999999999995
number_project
Базовые статистики: count    14999.000000
mean         3.803054
std          1.232592
min          2.000000
25%          3.000000
50%          4.000000
75%          5.000000
max          7.000000
Name: number_project, dtype: float64
Мода: 0    4
Name: number_project, dtype: int64
Медиана: 4.0
Размах: 2.0
average_montly_hours
Базовые статистики: count    14999.000000
mean       201.050337
std         49.943099
min         96.000000
25%        156.000000
50%        200.000000
75%        245.000000
max        310.000000
Name: average_montly_hours, dtype: float64
Мода: 0    135
1    156
Name: average_montly_hours, dtype: int64
Медиана: 200.0
Размах: 89.0
time_spend_company
Базовые статистики: count    14999.000000
mean         3.498233
std          1.460136
min          2.000000
25%          3.000000
50%          3.000000
75%          4.000000
max         10.000000
Name: time_spend_company, dtype: float64
Мода: 0    3
Name: time_spend_company, dtype: int64
Медиана: 3.0
Размах: 1.0

/var/folders/x_/mxyt8w111r9f0gxnb78_lw6c0000gn/T/ipykernel_53147/2390067270.py:10: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers = df[df[name1].between(lower_bound, upper_bound, inclusive=True)]
/var/folders/x_/mxyt8w111r9f0gxnb78_lw6c0000gn/T/ipykernel_53147/2390067270.py:10: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers = df[df[name1].between(lower_bound, upper_bound, inclusive=True)]
/var/folders/x_/mxyt8w111r9f0gxnb78_lw6c0000gn/T/ipykernel_53147/2390067270.py:10: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers = df[df[name1].between(lower_bound, upper_bound, inclusive=True)]
/var/folders/x_/mxyt8w111r9f0gxnb78_lw6c0000gn/T/ipykernel_53147/2390067270.py:10: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated in favour of `both` or `neither`.
  remove_outliers = df[df[name1].between(lower_bound, upper_bound, inclusive=True)]

### Рассчитайте и визуализировать корреляционную матрицу для количественных переменных.
* Определите две самые скоррелированные и две наименее скоррелированные переменные.

In [29]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

 ### Показать распределение сотрудников по зарплатам.

In [9]:
salary_value=df['salary'].value_counts()
salary_value

low       7316
medium    6446
high      1237
Name: salary, dtype: int64

### Рассчитайте сколько сотрудников работает в каждом департаменте.

In [10]:
df['department'].value_counts()

sales          4140
technical      2720
support        2229
IT             1227
product_mng     902
marketing       858
RandD           787
accounting      767
hr              739
management      630
Name: department, dtype: int64

### Показать распределение сотрудников по зарплатам в каждом  департаменте по отдельности

In [11]:
df.groupby('department')['salary'].value_counts()

department   salary
IT           low        609
             medium     535
             high        83
RandD        medium     372
             low        364
             high        51
accounting   low        358
             medium     335
             high        74
hr           medium     359
             low        335
             high        45
management   high       225
             medium     225
             low        180
marketing    low        402
             medium     376
             high        80
product_mng  low        451
             medium     383
             high        68
sales        low       2099
             medium    1772
             high       269
support      low       1146
             medium     942
             high       141
technical    low       1372
             medium    1147
             high       201
Name: salary, dtype: int64

### Проверить гипотезу, что сотрудники с высоким окладом проводят на работе больше времени, чем сотрудники с низким окладом

In [13]:
import scipy.stats as st
low_salary=df.loc[df.salary=='low']
high_salary=df.loc[df.salary=='high']

data1=low_salary['average_montly_hours']
data2=high_salary['average_montly_hours']

stat, p = st.mannwhitneyu(data1, data2)

print(f"Статистика = {stat:.5f}, p = {p:.5f}")

if p > 0.05:
    print('Не отклоняем нулевую гипотезу, распределения, вероятно, одинаковые')
else:
    print('Отклоняем нулевую гипотезу, распределения, вероятно, различаются')

Статистика = 4542795.50000, p = 0.82413
Не отклоняем нулевую гипотезу, распределения, вероятно, одинаковые

### Рассчитать следующие показатели среди уволившихся и не уволившихся сотрудников (по отдельности):

* Доля сотрудников с повышением за последние 5 лет

In [15]:
empl_left=df.loc[df.left==1]
print('Среди уволившихся сотрудников: \n',empl_left['promotion_last_5years'].value_counts())

Среди уволившихся сотрудников:
 0    3552
1      19
Name: promotion_last_5years, dtype: int64

In [17]:
empl_stay=df.loc[df.left==0]
print('Среди не уволившихся сотрудников: \n',empl_stay['promotion_last_5years'].value_counts())

Среди не уволившихся сотрудников:
 0    11128
1      300
Name: promotion_last_5years, dtype: int64

* Средняя степень удовлетворенности

In [19]:
print('Средняя степень удовлетворенности среди уволившихся сотрудников: \n',empl_left['satisfaction_level'].mean())

Средняя степень удовлетворенности среди уволившихся сотрудников:
 0.44009801176140917

In [20]:
print('Средняя степень удовлетворенности среди не уволившихся сотрудников: \n',empl_stay['satisfaction_level'].mean())

Средняя степень удовлетворенности среди не уволившихся сотрудников:
 0.666809590479516

* Среднее количество проектов

In [21]:
print('Среднее количество проектов уволившихся сотрудников :\n',empl_left['number_project'].mean())

Среднее количество проектов уволившихся сотрудников :
 3.8555026603192384

In [22]:
print('Среднее количество проектов не уволившихся сотрудников :\n',empl_stay['number_project'].mean())

Среднее количество проектов не уволившихся сотрудников :
 3.786664333216661

### Разделить данные на тестовую и обучающую выборки Построить модель LDA, предсказывающую уволился ли сотрудник на основе имеющихся факторов (кроме department и salary)
* Оценить качество модели на тестовой выборки

In [23]:
X = df[['satisfaction_level','last_evaluation','number_project','average_montly_hours','time_spend_company','Work_accident','promotion_last_5years']]
y = df['left']

In [24]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=0)

In [25]:
#Масштабирование данных
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [26]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

lda = LDA(n_components=1)
X_train = lda.fit_transform(X_train, y_train)
X_test = lda.transform(X_test)

In [27]:
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(max_depth=2, random_state=0)

classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [28]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

cm = confusion_matrix(y_test, y_pred)
print('Эффективность модели: \n',cm)
print('Значения диагонали сверху вниз слева направо – это число верно  предсказанных значений.')
print('Точность ' + str(accuracy_score(y_test, y_pred)))

Эффективность модели:
 [[2144  155]
 [ 401  300]]
Значения диагонали сверху вниз слева направо – это число верно  предсказанных значений.
Точность 0.8146666666666667